body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 8px;
  border: 1px solid #666;
  border-radius: 4px;
  font-size: 14px;
  margin: 5px;
  background-color: #dddddd;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td[colspan="3"] {
  text-align: center;
  color: #777;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 6px;
}

.modal-content input {
  width: 100%;
  margin-bottom: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.header {
  /* text-align: center; */
  margin-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #666;
  font-size: 14px;
}